<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <a class="navbar-brand" href="{{ path('home') }}">Pizze di Lorenzo</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Ingrédients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('basket') }}">Panier</a>
                </li>
                {% if not is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_profil') }}">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                {% endif %}
            </ul>

            {% if app.user %}
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-danger ms-2" type="submit">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_register') }}" class="btn btn-outline-primary me-2" type="submit">Inscription</a>
                <a href="{{ path('app_login') }}" class="btn btn-outline-success" type="submit">Connexion</a>
            {% endif %}
        </div>
    </nav>
</header>

