{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(updateUserForm) }}
        {{ form_row(updateUserForm.mail) }}
        {{ form_row(updateUserForm.lastname) }}
        {{ form_row(updateUserForm.firstname) }}
        {{ form_row(updateUserForm.adress) }}
        <button type="submit" class="btn">Edit</button>
    {{ form_end(updateUserForm) }}

{% endblock %}